<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="product_style.css">
  <title>Tiffinic</title>
</head>

<body>
  <div class="grid-container">

    <header class="header">
      <div class="brand">
        <button class="brand-button">
          &#9776;
        </button>
        <a href="/">Tiffinic</a>
      </div>

      <div class="menu-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>


    <main class="main">
      <div class="content">
        <ul class="products">
          <!-- product list starts -->
          <li class="product">
            <img class="product-image" src="images/t1.jpg" alt="product-image">
            <div class="product-name">
              <a href="">Tiffinwala1</a>
            </div>
            <div class="product-locality">Kalyani Nagar</div>
            <div class="product-price">&#x20b9; 3000 pm</div>
              <div class="product-rating">5 Stars (10 Reviews)</div>
          </li>

          <li class="product">
            <img class="product-image" src="images/t1.jpg" alt="product"/>
            <div class="product-name">
              <a href="">Tiffinwala1</a>
            </div>
            <div class="product-locality">Kalyani Nagar</div>
            <div class="product-price">&#x20b9; 3000 pm</div>
              <div class="product-rating">5 Stars (10 Reviews)</div>
          </li>

          <li class="product">
            <img class="product-image" src="images/t1.jpg" alt="product-image">
            <div class="product-name">
              <a href="">Tiffinwala1</a>
            </div>
            <div class="product-locality">Kalyani Nagar</div>
            <div class="product-price">&#x20b9; 3000 pm</div>
              <div class="product-rating">5 Stars (10 Reviews)</div>
          </li>

          <li class="product">
            <img class="product-image" src="images/t1.jpg" alt="product-image">
            <div class="product-name">
              <a href="">Tiffinwala1</a>
            </div>
            <div class="product-locality">Kalyani Nagar</div>
            <div class="product-price">&#x20b9; 3000 pm</div>
              <div class="product-rating">5 Stars (10 Reviews)</div>
          </li>

          <li class="product">
            <img class="product-image" src="images/t1.jpg" alt="product-image">
            <div class="product-name">
              <a href="">Tiffinwala1</a>
            </div>
            <div class="product-locality">Kalyani Nagar</div>
            <div class="product-price">&#x20b9; 3000 pm</div>
              <div class="product-rating">5 Stars (10 Reviews)</div>
          </li> 
          
        </ul>
      </div>
    </main>


    <footer class="footer">
      All rights reserved
    </footer>

  </div>
</body>